<header class="<%= human_name.downcase %>-index-header">
  <h1>Listing <%= plural_table_name.titleize %></h1>
</header>

<br>
<main>
  <table class="table">
    <thead>
      <tr>
      <% editable_attributes.each do |attribute| -%>
        <th><%= attribute.human_name %></th>
      <% end -%>
      </tr>
    </thead>
    <tbody>
      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
        <tr>
  <% editable_attributes.reject(&:password_digest?).each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> -%></td>
  <% end -%>
        </tr>
       <%% end %>
    </tbody>
  </table>

</main>
